{% load static %}

<section class="section-name padding-y-sm">
    <div class="container">
        
        <header class="section-heading">
            <div class="col-lg col-sm col-md col-8 flex-grow-0">
                
                <div class="category-wrap dropdown d-inline-block float-right">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bars"></i> Categorias
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">categoria 1 </a>
                        <a class="dropdown-item" href="#">categoria 2</a>
                        <a class="dropdown-item" href="#">categoria 3</a>
                        <a class="dropdown-item" href="#">categoria 4</a>
                        <a class="dropdown-item" href="#">categoria 5</a>
                    </div>
                    <a href="./cart.html" class="widget-header pl-3 ml-3">
                        <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                        <span class="badge badge-pill badge-danger notify">0</span>
                    </a>
                </div> <!-- category-wrap.// -->
                <h3 class="section-title">JIRE STORE</h3>
            </div>
        </header>

</section>