{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="row">

    {% for producto in productos%}

    <div class="col-md-3">
        <div class="card card-product-grid">
            <a href="./product-detail.html" class="img-wrap"> <img src="{{producto.images.url}}" class="w-100"> </a>
            <figcaption class="info-wrap">
                <a href="./product-detail.html" class="title">{{producto.nombre_producto}}</a>
                <div class="price mt-1">{{producto.precio}}</div> <!-- price-wrap.// -->
            </figcaption>
        </div>
    </div> <!-- col.// -->
</div> <!-- row.// -->


</div><!-- container // -->
</section>




</body>

</html>

{% endfor %}
{%endblock%}