{%extends 'base.html'%}
{%load static%}
{%block content%}

    <section class="section-name padding-y-sm">
        <div class="container">
        
            <header class="section-heading">
                <a href="{%url 'catalogo_producto'%}" class="btn btn-outline-info float-right">Ver Todo</a>
                <h3 class="section-title">Productos</h3>
                <span class="mr-md-auto"><b>{{producto_contador}}</b> Productos Encontrados</span>
            </header><!-- sect-heading -->
            
            <div class="row">

                {% if productos %}
                {% for producto in productos%} 
                <div class="col-sm-3 ">
                    <div class="card card-product-grid">
                    <a href="{{ producto.get_url }}"> <img src="{{producto.images.url}}"
                            class="w-100"></a>
                    <figcaption class="info-wrap">
                        <a href="{{ producto.get_url }}" class="title">{{producto.nombre_producto}}</a>
                        <div class="price mt-1">{{producto.precio}}</div> <!-- price-wrap.// -->
                    </figcaption>
                    
                    {%if producto.stock <= 0%}
                    <h5>Fuera de stock</h5>
                    {%else%}
                    <a href="{%url 'agregarCarrito' producto.id%}" class="btn btn-block btn-info">Agregar al carrito</a>
                    {% endif %}
                </div>
                </div> <!-- col.// -->
                {% endfor %}
                {%else%}
                <div>
                    <h2 class="text-center text-danger"> no se encontraron resultados</h2>
                </div>
                {% endif %}
            <main>
                <nav class="mt-4" aria-label="Page navigation sample">
                    {% if productos.has_other_pages %}
                    <ul class="pagination">

                        {%if productos.has_previous %}
                        <li class="page-item "><a class="page-link" href="?page={{productos.previous_page_number}}">Anterior</a></li>
                        {%else%}
                        <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                        {% endif %}

                        {% for i in productos.paginator.page_range %}
                        {% if productos.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if productos.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{productos.next_page_number}}">Siguiente</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                  </nav>
            </main>
            </div> <!-- row.// -->

            
        
        </div>
       
        </section>
        
</body>

</html>


{%endblock%}