{%load static%}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static './css/indice.css'%}">
    <title>Jire Store</title>


</head>

<body>
<style> 

body{
    background: url('../static/image/bgwall.png');
    background-repeat: no-repeat;
    background-size: cover;
}

</style>

<div class="d-flex flex-column flex-md-row justify-content-end align-items-center p-3 px-md-4 mb-3 box-shadow">

    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-white" style="text-decoration: none;" href="#">inicio</a>
      <a class="p-2 text-white" style="text-decoration: none;" href="#">catalogo</a>
      <a class="p-2 text-white" style="text-decoration: none;" href="#">contacto</a>
    </nav>
    <a class="float-right btn btn-outline-light" href="#">Sign up</a>
    
  </div>

    <main>
        <div class="container py-4">
            <div class="p-5 mb-4 bg-gradient-info rounded-3">
                <div class="container-fluid py- text-white">
                    <h1 class="display-5 fw-bold">JIRE STORE</h1>
                    <p class="col-md-8 fs-3">Nuestra tienda tiene como objetivo que nuestros clientes
                        consigan la mayor satisfaccion al adquirir nuestros productos, lo primero siempre
                        seran nuestros clientes.
                    </p>
                    <button class="btn btn-info btn-lg " type="button">ENTRAR EN LA TIENDA</button>
                </div>
            </div>


            <footer class="pt-3 mt-4 text-white border-top">
                &copy; Jire Store
            </footer>
        </div>
    </main>


</body>

</html>