{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
  <div class="container">
    <div class="card">
      <div class="row no-gutters">
        <aside class="col-md-6">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <a href="#"><img src="{{ imagen_url }}" id="imagen-variacion" alt="Imagen del producto"/></a>
            </div>
          </article>
        </aside>
        <main class="col-md-6 border-left">
          <form action="{% url 'carrito:agregarCarrito' single_product.id %}" method="POST">
  {% csrf_token %}
  <article class="content-body">
    <!-- Other fields -->
    <div class="row">
      <div class="item-option-select">
        <h6>Seleccionar Color</h6>
        <select name="color" class="form-control" required id="color-select">
          <option value="" disabled selected>Seleccione</option>
          {% for i in color_variations %}
            <option value="{{ i.variation_value }}" data-image="{% if i.imagen %}{{ i.imagen.url }}{% else %}{% static 'images/default_image.png' %}{% endif %}">{{ i.variation_value|capfirst }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="item-option-select">
        <h6>Selecciona Talla</h6>
        <select name="talla" class="form-control" required>
          <option value="" disabled selected>Seleccione</option>
          {% for i in talla_variations %}
            <option value="{{ i.variation_value }}">{{ i.variation_value|capfirst }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <!-- Other fields -->
    <button type="submit" class="btn btn-primary">
      <span class="text">Agregar al carrito</span>
      <i class="fas fa-shopping-cart"></i>
    </button>
  </article>
</form>

        </main>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-9">
        <header class="section-heading">
          <h3>Customer Reviews</h3>
        </header>
        <article class="box mb-3">
          <div class="icontext w-100">
            <img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle" />
            <div class="text">
              <span class="date text-muted float-md-right">24.04.2020 </span>
              <h6 class="mb-1">Mike John</h6>
            </div>
          </div>
          <div class="mt-3">
            <p>Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<script>
document.getElementById('color-select').addEventListener('change', function() {
    var selectedOption = this.options[this.selectedIndex];
    var newImageUrl = selectedOption.getAttribute('data-image');
    document.getElementById('imagen-variacion').src = newImageUrl;
});
</script>

{% endblock %}
